@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Martel+Sans&display=swap');


@media (min-width:1920px) {
    .logo-container{
        margin-bottom: 50% !important;
        transition: 300ms;
    }
    .logo-container > img{
        width: 50% !important;
    }
}
@media (min-width:2560px) {
    .logo-container{
        margin-bottom: 60% !important;
        transition: 300ms;
    }
    .logo-container > img{
        width: 50% !important;
        transition: 300ms;
    }
    .product-description p{
        font-size: 1.5em;
    }
    .product-description span{
        font-size: 1.5em;
    }
    .product-description > span span{
        font-size: 24px !important;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: #E1E1E1;
}
header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
}

a {
    text-decoration: none;
    color: currentColor;
}

.topbar-menu ul {
    list-style: none;
    display: flex;
    color: white;
}

.topbar-menu>ul li {
    margin-left: .75vw;
    margin-right: .75vw;
    transition: 0.25s;
}

.topbar-menu>ul>li:hover {
    color: rgba(112, 52, 235, 1);
}

.pd_3 {
    padding: 1.5rem !important;
}
.newsection{
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin-top: 7.5vh;
}
.div-topbar-icons {
    display: flex;
    justify-content: space-between;
}

.div-topbar-icons nav {
    margin-left: .5vw;
    margin-right: .5vw;
}

.div-topbar-icons>nav svg:hover {
    fill: rgba(112, 52, 235, 1);
    transition: 0.25s;
}

.section-banner {
    position: relative;
}

.img-banner {
    width: 100%;
}

.search-bar {
    width: 75%;
    padding: 1.75rem !important;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    margin: 0 auto;
    position: relative;
    margin-top: -7.5%;
    z-index: 100;
}

.select_esportivos {
    position: relative;
}

.select_esportivos::after {
    content: '';
    width: 55px;
    height: 3px;
    border-radius: 30px;
    top: 100%;
    left: 50%;
    background-color: rgb(112, 52, 235);
    position: absolute;
    margin-top: .5vh;
    transform: translate(-50%, -50%);
}



.format-pd_y-camp-text {
    padding: 1.5rem;
    border: 1px solid #737373 !important;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
}

.button-search-bar {
    text-align: center;
    line-height: 1.5rem;
    font-family: 'Moul', cursive;
    border-radius: 20px;
    font-size: 1.5em;
    color: white;
    padding: 1.5rem;
    background: rgb(112, 52, 235);
    background: linear-gradient(-90deg, rgba(112, 52, 235, 1) 0%, rgba(86, 124, 221, 1) 100%);
    width: 85%;
    cursor: pointer;
}
.father-div-button-offerts{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.ul_selecter_search_bar {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.ul_selecter_search_bar li {
    list-style-type: none;
    margin-left: 2vw;
    margin-right: 2vw;
}

.section-promotional-cards{
    width: 75%;
    background-color: black;
    height: 5vh;
}
.section-flexdisplay-padron{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards{
    width: 30%;
    background: rgb(112,52,235);
    background: linear-gradient(180deg, rgba(112,52,235,1) 0%, rgba(39,9,41,1) 100%);
    border-radius: 30px;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.cards:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 3px rgb(170, 170, 170);
}


.logo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
}
.text-promotionalcard{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.name-card{
    font-size: 2.0em;
    color: white;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    -webkit-user-select: none;
}

.icon-promotion{
    position: relative;
}
.icon-promotion > img{
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container-product{
    position: relative;
    width: 28%;
    border-radius: 12px 12px 0 0;
    background-color: white;
    margin-bottom: 4%;
    border-bottom: 3px solid #7034eb;
    overflow: hidden;
}
.container-product:hover .container-img > img{
    transform: scale(1.05);
}
.container-img{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container-img img{
    width: 100%;
    transition: 300ms;
}
.product-description{
    width: 100%;
    text-align: center;
    font-size: 12px;
    -webkit-user-select: none;
}
.buttons-container{
    display: flex;
}
.buttons-container div{
    width: 100%;
}
.main-div-buttons{
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.ExcpBorder{
    border-right: 0 !important;
}
.text-button{
    font-family: 'Jaldi', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    transition: 300ms;
}
.text-button span:hover{
    color: #7034eb;
    cursor: pointer;
}
.fotter-padron{
    background-color: #3a3a3a;
    width: 75%;
    margin: 0 auto;
}
.div-container-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    margin: 0 auto;
}
.spanfooter{
    display: grid !important;
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1.75fr;
}

.section-fotter{
    padding: 3.5rem;
    width: 100%;
    margin: 0 auto;
}
.format-title-sections-fotter{
    color: white;
    margin-bottom: 2.75vh;
    font-weight: 400;
}
.format-ul-footer{
    list-style-type: none;
}
.format-ul-footer > li > span{
    color: #737373;
}
.format-ul-footer li{
    margin-bottom: 3vh;
}

.container-informativo-footer h2{
    font-weight: bold;
    font-size: 1.6em;
}
.container-informativo-footer p{
    font-size: 1.4em;
    font-weight: 400;
    color: #737373;
}
