* {
    box-sizing: border-box;
    font-family: 'Lato-Regular', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #45b80b;
    border-radius: 12px;
}

#top::-webkit-scrollbar-track {
    background-color: #40aa0b;
}

/*Usei propriedades responsivas em tudo(ou quase isso) e mesmo assim quebrou no nootbook com tela menor
e no monitor 2556x1080 também quebrou uma parte do site, no monitor, no monitor 1920x1080 funcionou nor-
-mal que foi o que eu começei produzir o site*/
#top {
    position: fixed;
    width: 100%;
    min-width: 60%;
    height: 40px;
    background-color: black;
    left: 0;
    top: 0;
    z-index: 10000;
}

#top>div {
    width: 40%;
    height: 40px;
    float: right;
}

#top>div>span {
    color: white;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    position: fixed;
    border: 1px;
    width: 100%;
    height: 4em;
    background-color: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    margin-top: 40px;
    min-width: 60%;
    z-index: 10000;
}

#container>div {
    position: absolute;
    margin-left: 21vw;
    min-width: 60%;
    height: 4em;
    margin-top: -16px;
}

#container>div>ul li {
    display: inline-block;
    margin-left: 33px;
    line-height: 4em;
    color: white;
    font-family: 'Lato-Bold', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#lockArea {
    position: relative;
    top: 0.5vh;
    right: 0.5vw;
    border-left: 0.5px dotted #bdbdbb;
    color: white !important;
}

.menu:hover {
    color: #45b80b;
    transition: color 0.5s;
}

.menu:not(:hover) {
    color: white;
    transition: color 0.5s;
}

a {
    color: white;
    text-decoration: none;
}

#logo-cotemig {
    margin-right: 180px;
    width: 12em;
    vertical-align: -1.3em;
}

#banner {
    z-index: -1;
}

#banner>img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 552px;
    min-height: 552px;
}

.texto-banner {
    position: absolute;
    top: 20vh;
    left: 20vw;
    z-index: 100;
}

#facul {
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
}

.description {
    color: white;
    font-size: 18px;
    font-weight: 100;
    vertical-align: 15px;
}

#saiba-mais {
    position: relative;
    margin: 0 auto;
    margin-left: 0.1vw;
    border-radius: 8px;
    width: 80%;
    height: 4.5vh;
    background-color: #40aa0b;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lato-Bold', sans-serif;
    color: white;
    line-height: 4.5vh;
    text-align: center;
    font-weight: bold;
}

#saiba-mais:hover {
    background-color: #45b80b;
    transition: background-color 0.5s;
}

#saiba-mais:not(:hover) {
    background-color: #40aa0b;
    transition: background-color 0.5s;
}

#imgBanner-fundo {
    transition: opacity 1s ease-in-out;
}

.efeito-saida {
    opacity: 0;
}

#seletor-imagem>li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 20px;
    height: 8px;
    border-radius: 8px;
    background-color: #45b80b;
    left: -25px;
    top: 45px;
}

.selecterImage.active {
    width: 12px !important;
    background-color: grey !important;
    transition: 0.5s ease-in-out !important;
}

.selecterImage:active {
    width: 12px !important;
    background-color: grey !important;
    transition: 0.5s ease-in-out !important;
}

#choose {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 716px;
    top: 550px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    min-width: 55%;
}

#excFormat-description_course {
    position: relative;
    top: -1.6vh;
    left: 3.3vw;
}

#div-apresentacao {
    position: absolute;
    margin-left: 21vw;
    width: 55%;
    height: 716px;
    background-color: white;
    color: black;
}

#container-opcoes {
    position: relative;
    width: 65%;
    background-color: black;
    margin: 0 auto;
    margin-top: 35.19px;

}

/*pergunta aparencia graduacacao e curso, formato das letras, (nao faz sentido usar position pra alinhar
texto isso é criminoso), fomato das divs, ilusao do fundo branco(nao sei como o branco consegue aparecer
sobre outro branco[deve ser por causa do box shadow{que também nao funcionou}])*/
#curso {
    position: absolute;
    width: 50%;
    height: 175px;
    background-color: white;
    border-radius: 12px;
    margin-left: 8%;

}

#graduacao {
    position: absolute;
    width: 50%;
    height: 175px;
    background-color: white;
    border-radius: 12px;
    margin-left: 55%;
}

.img-choose {
    position: absolute;
    width: 80%;
    height: 175px;
    border-radius: 16px;
    overflow: hidden;
}

.format-description {
    position: absolute;
    color: white;
    line-height: 230px;
    font-weight: bold;
    font-size: 22px;
    padding-left: 3%;
}

.caracteristicas {
    position: absolute;
    width: 80%;
    background-color: white;
    margin-top: 160px;
    border-radius: 0 0 1em 1em;
    border-color: black;
    box-shadow: 1px 1px 5px lightgrey;
    border-top: none;
}

.n1 {
    margin-top: 165px;
    background-color: white;
    overflow: hidden;
}

.n2 {
    margin-top: 170px;
    background-color: white;
}

.listchoose {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.seta {
    position: relative;
}

.s1 {
    top: 0.6vh;
}

.imgNotic {
    z-index: 100;
}

/*pergunta .listchoose:hover ~ svg */
.listchoose:hover~svg {
    left: 0.2vw;
}

.seta.listchoose-active {
    display: none;
}

/*pergunta .listchoose:hover ~ svg */

/*pergunta aparencia graduacacao e curso, formato das letras, (nao faz sentido usar position pra alinhar
texto isso é criminoso), fomato das divs, ilusao do fundo branco(nao sei como o branco consegue aparecer
sobre outro branco[deve ser por causa do box shadow{que também nao funcionou}])*/
.imgMobile {
    width: 19%;
    border-radius: 10px;
}

.ref1 {
    position: relative;
    top: 1vh;
}

.s2 {
    margin-left: 5.5vw;
}

.s3 {
    top: 0.6vh;
    margin-left: 0.5vw;
}

.s4 {
    bottom: 1.5vh;
    margin-left: 4.7vw;
}

.s5 {
    margin-left: 0.55vw;
    top: 0.7vh;
}

.formatacaotexttitulo {
    font-size: 40px;
    text-align: center;
}

.formatacaotextsubtitulo {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}

.descricao-curso {
    padding-left: 12px;
    vertical-align: 18px;
    font-weight: bold;
    font-size: 13px;
}

.c1 {
    position: relative;
    bottom: 8px;
}

.seta {
    position: relative;
    left: 0.6vw;
}

.format-text-description-link:hover {
    color: #45b80b;
    transition: color 0.5s;
}

.format-text-description-link:not(:hover) {
    color: black;
    transition: color 0.5s;
}

.format-text-description-link {
    color: black;
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}

.sis {
    position: relative;
    top: -25px;
    left: 2.5vw;

}

.exc {
    position: relative;
    bottom: 35px;
}

.exc1 {
    position: relative;
    bottom: 10px;
}

/*Cor e aparencia da div em relacão ao site. Coloque um whitesmoke mas ta errado, é o white, porem
esse efeito de borda miraculoso faz o branco ficar visivel sobre o branco*/
#ourUnits {
    position: relative;
    width: 100%;
    height: 709px;
    background-color: white;
    top: 1250px;
    margin: 0 auto;
    display: inline-block;
}

#nossaUnidades {
    width: 100%;
    margin: 0 auto;
}

.unidades {
    position: relative;
    width: 380px;
    overflow: hidden;
    display: inline-block;
    margin-left: 9.5vw;
    margin-top: 90px;
}

.location-pin {
    position: relative;
}

.pin1 {
    left: -2.7vw;
}

.rua-row1 {
    position: relative;
    left: -2.6vw;
}

.circle-pin-location {
    position: relative;
    left: -1.4vw;
    top: 0.4vh;
}

.format-div-unidade {
    border-radius: 1em 1em 0 0;
    overflow: hidden;
    display: inline-block;
    box-shadow: 3px 3px 5px lightgrey;
    height: 200px;
}

.format-div-unidade-text {
    width: 380px;
    height: 128px;
    background-color: rgb(247, 247, 247);
    position: relative;
    display: inline-block;
    bottom: 3.9px;
    box-shadow: 3px 3px 5px lightgrey;
    border-radius: 0 0 1em 1em;
}

.imgUnidade {
    box-shadow: 3px 3px 12px lightgrey;
}

.format-text-subtitle {
    color: #424242;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.format-text-p {
    font-size: 16px;
    color: #424242;
    font-weight: 900;
    translate: 2.5vw;
}

/*Cor e aparencia da div em relacão ao site. Coloque um whitesmoke mas ta errado, é o white, porem
esse efeito de borda miraculoso faz o branco ficar visivel sobre o branco*/

/*pergunta hover da unidade diferente do site original, não consegui fazer igual o do cotemig, mesmo
dando margin ele nao funciona*/
.unidades:hover {
    transform: translateY(-8%);
    transition: 0.5s;
}

.unidades:not(:hover) {
    transition: 0.5s;
}

/*pergunta hover da unidade diferente do site original, não consegui fazer igual o do cotemig, mesmo
dando margin ele nao funciona*/
#telefone-box {
    position: relative;
    top: 125vh;
    text-align: center;

    display: inline;
}

#telefone-box>h4 {
    font-size: 20px;
    color: #424242;
}

#telefone-box>h2 {
    font-size: 32px;
    text-align: center;
    color: #45b80b;
}

/*isso daqui nao funciona mas ja achei uma solucao*/
#icon-telefone {
    position: relative;
    top: 0.5vh;
}

/*isso daqui nao funciona mas ja achei uma solucao*/
#NoticiasEnovidades>h2 {
    text-align: center;
    font-size: 40px;
    color: #424242;
}

#NoticiasEnovidades {
    position: relative;
    top: 135vh;
    width: 100%;
}

.noticias {
    position: relative;
    float: left;
    width: 18%;
    height: 20.25em;
    margin-right: 1.5%;
    margin-bottom: 0;
    overflow: hidden;
    margin: 20px;
}

.noticias>img {
    width: 100%;
    height: 20.25em;
    text-align: center;
    border-radius: .875em;
}

/*Mesmo problema do hover da unidade*/
.n1 img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.n1:hover {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.n1 img:not(:hover) {
    transition: 0.5s;
}

.n1:not(:hover) {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.n2 img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.n2:hover {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.n2 img:not(:hover) {
    transition: 0.5s;
}

.n2:not(:hover) {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.n3 img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.n3:hover {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.n3 img:not(:hover) {
    transition: 0.5s;
}

.n3:not(:hover) {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.n4 img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.n4:hover {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.n4 img:not(:hover) {
    transition: 0.5s;
}

.n4:not(:hover) {
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.pointer-event {
    pointer-events: none;
}

/*Mesmo problema do hover da unidade*/
#blogs {
    position: relative;
    width: 100%;
    height: 20.25em;
    padding-left: 15%;
}

#blogs div>h2 {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 25px;
    text-align: left;
    left: 12px;

}

#blogs div>h1 {
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 5px;
    font-weight: 100;
    text-align: left;
    left: 12px;
    font-style: italic;
}

#rodape {
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
    height: 470px;
    top: 276vh;
    left: 0;
    bottom: 0;
}

#containerfooter {
    position: relative;
    width: 62.15%;
    background-color: black;
    height: 407px;
    margin: 0 auto;
}

#links {
    position: absolute;
    background-color: black;
    border-bottom: 0.5px #424242 dotted;
}

.list-links-foot {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    color: #40aa0b;
    list-style-type: none;
    margin: 40px;
    text-align: start;
}

.list-links-foot li {
    margin-bottom: 8px;
    color: #bdbdbb;
}

.list-links-foot a {
    margin-bottom: 8px;
    color: #bdbdbb;
}

.format-footer-subtitle {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 25px;
}

.list-links-foot a {
    font-size: 14px;
}

.l2 {
    position: relative;
    bottom: 5.3vh;
    right: 2.3vw;
}

.l3 {
    position: relative;
    top: 2.5vh;
}

#description-colegio-cotemig {
    position: relative;
    display: inline-block;
    bottom: 5.5vh;
    margin-left: 2.01vw;
    border-bottom: 0.5px #424242 dotted;
}

#description-colegio-cotemig p {
    color: white;
    font-size: 16px;
}

#description-colegio-cotemig h3 {
    color: white;
    font-size: 16px;
}

#crie-suas-possibilidades {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #40aa0b;
    border-radius: 8px;
}

#crie-suas-possibilidades h4 {
    font-size: 14px;
    padding: 0.5px;
    text-align: center;
    color: white;
}

#crie-suas-possibilidades:hover {
    background-color: #45b80b;
    transition: 0.5s;
}

#crie-suas-possibilidades:not(:hover) {
    transition: 0.5s;
}

#footer2 {
    position: absolute;
    top: 270.86px;
    width: 100%;
}



#imgCotemas {
    height: 68px;
}

#cotemig-banner-enterprise {
    width: 100%;
    background-color: black;
    display: inline-block;
}

#imgCotemas {
    height: 68px;
    margin-top: 25px;
    margin-left: 2.5vw;
}

#credits>p {
    font-size: 12px;
    color: white;
    margin-left: 2vw;
}

#credits {
    display: inline-block;
    position: relative;
    top: -4vh;
}

#colegio-cotemig {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: 6vw;
    vertical-align: 8vh;
    color: white;
}

#faculdade-cotemig {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: 6vw;
    vertical-align: 8vh;
    color: white;
}

#format-div-wpp {
    width: 50px;
    position: fixed;
    left: 95vw;
    height: 50px;
    box-shadow: 4px 4px 1px grey;
    border-radius: 50%;
    background-color: green;
    z-index: 12000;
    display: inline-block;
    top: 920px;
}
#chat-cotemig{
    position: fixed;
    width: 200px;
    height: 20px;
    background-color: #45b80b;
    border-radius: 1em 1em 0 0;
    top: 960px;
    left: 75%;
    z-index: 1;
    text-align: center;
    color: white;
}